.city, ul {
   background-color:black;
   height: 800px;
   width: 300px;
   text-decoration:none;
   list-style-type:none;
   

}
b{
   color: blue;
  
}
li,b{
   list-style: none;
   text-decoration:none;
}

ul,li{
   padding:30px;
  
}
.blue{
   
   border:1px solid skyblue;
   background-color:#1D1E20;
   color:white;
   height:80px;
   width:200px;
   border-radius: 15px;
   
}

li:hover{
    background-color: #AF47D2;
    color:#1D183E;
    width: 115px;
    height: 90px;
    border-radius: 20px;
    box-shadow: 0 0 5px blueviolet,
                0 0 25px blueviolet,
                0 0 50px blueviolet,
                0 0 200px blueviolet;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

#con{
   position: relative;
   left: 20px;
   top: 5px;
}
.red{
   float:right;
   border:2px solid #1D1E20;
   background-color:#1D1E20;
   height:350px;
   color:black;
   width:500px;
   border-radius: 20px;
   padding:10px 30px;
}

.white{
   text-align: center;
   border:2px solid skyblue;
   background-color:skyblue;
   height:350px;
    width:100px;
    border-radius: 20px;
    
}
.flot{
   float: right;
   margin-top:47px;
}
.flo,b{
   color:white;
}
.pspk{
    background-color:#1D183E;
}

#icon{
   color: #f51010;
}
#icon:hover{
    background-color:#2d0b58;
    border-radius: 20px;
    color:rgb(17, 17, 16);
}
#input{
     width: 500px;
     border-radius: 20px;
     background: transparent;
}
#search{
   font-size: 20px;
   color: azure;
}
#ico{
   float: inline-end;
   color: azure;
   
}
.menu1{
   
   
   
   background-color:black;
}
.orde,b,p{
   color: white;
}
.blue:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px blueviolet;
    z-index: 2;
 
}
.box{
   background-color:#1D1E20;
   width: 300px;
   float:right;
   border: 1px solid skyblue;
   border-radius: 20px;
   
 

}  

.hiii{
   background-color:skyblue ;
   border-radius: 20px;
   border: 1px solid skyblue;
   width: 800px;
}

input{
   background:transparent;
   border: none;
   
}
.face{
   color: white;
}
.my{
   color:white;
}
.small,input::placeholder{
     color:white;
     font-size: 12px;
}
.insta{
   color: black;
   background-color: skyblue;
   width: 30px;
   height:30px;
   border-radius: 20px;
}
.how{
   border: 2px solid skyblue;
   width: 350px;
   border-radius: 20px;
}
.tata{
   border: 2px solid skyblue;
   width: 300px;
   height: 320px;
   border-radius: 20px;
}
.baro{
   position: relative;
   left: 30px;
}
.mess{
      margin-left:10%;
      border: 1px solid skyblue;
      width:60px;
      height:75px;
      border-radius: 10px;
}
.comme{
   margin-left:25%;
   border: 1px solid skyblue;
   width:305px;
   height: 60px;
   border-radius: 10px;
   position: relative;
   bottom:72px;
}
#banna{
  border: 2px solid skyblue;
  border-radius: 15px ;
  width: 450px;
   height: 100px;
   background-color: #1D183E ;
}
#band{
   position: relative;
   bottom:-30px;
     background-color: skyblue;
     border-radius: 20px;
     width: 500px;
}
.mes{
   margin-left:10%;
   border: 1px solid skyblue;
   width:69px;
   height:75px;
   border-radius: 10px;
}
.comm{
   margin-left:27%;
   border: 1px solid skyblue;
   width:305px;
   height: 60px;
   border-radius: 10px;
   position: relative;
   bottom:67px;
}
#bann{
   border: 2px solid skyblue;
  border-radius: 15px ;
  width: 450px;
   height: 100px;
   background-color: #1D183E ;
   position: relative;
   bottom:-70px;
}
#line{
   position: relative;
   top: 10;
   bottom: -20px;
   background-color: skyblue;
   border: 2px solid skyblue;
   border-radius: 15px ;
   width:700px;
    height: 300px;
}